<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- 定义servlet -->
	<servlet>
		<description>servlet1</description>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>c001.Servlet1</servlet-class>
	</servlet>
	<!-- 定义servlet url -->
	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	<!-- 为jsp命名 -->
	<servlet>
		<servlet-name>jsp1</servlet-name>
		<jsp-file>/WEB-INF/jsp/jsp1.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsp1</servlet-name>
		<url-pattern>/jsp1</url-pattern>
	</servlet-mapping>

	<!-- 配置初始化参数 -->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>c001.InitServlet</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>zhangsan</param-value>
		</init-param>
		<init-param>
			<param-name>pwd</param-name>
			<param-value>666</param-value>
		</init-param>
		<!--启动时首先加载 -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/initServlet</url-pattern>
	</servlet-mapping>
	<!-- 应用程序上下文参数 -->
	<context-param>
		<description>应用程序上下文参数</description>
		<param-name>username</param-name>
		<param-value>jiangzi</param-value>
	</context-param>
	<!-- 配置过滤器 -->
	<filter>
		<filter-name>filter1</filter-name>
		<filter-class>c001.Filter1</filter-class>
	</filter>
	<!--为servlet制定filter -->
	<filter-mapping>
		<filter-name>filter1</filter-name>
		<servlet-name>initServlet</servlet-name>
	</filter-mapping>
	<!-- 配置欢迎页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- 配置错误页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/WEB-INF/jsp/null.jsp</location>
	</error-page>
	<!-- 登录验证 -->
	<!-- <login-config> 认证方式为form <auth-method>FORM</auth-method> <form-login-config> 
		<form-login-page>/WEB-INF/jsp/login.jsp</form-login-page> <form-error-page>/WEB-INF/jsp/login_error.jsp</form-error-page> 
		</form-login-config> </login-config> -->
	<!--限制web资源访问 -->
	<!-- <security-constraint> 限制的url <web-resource-collection> <web-resource-name>servlet1</web-resource-name> 
		<url-pattern>/servlet1</url-pattern> </web-resource-collection> 只有这些用户可以访问该url 
		<auth-constraint> <role-name>admin</role-name> <role-name>jiangzi</role-name> 
		</auth-constraint> </security-constraint> -->
	<!-- 控制回话失效时间 -->
	<session-config>
		<!--15分钟失效 -->
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- 配置jsp taglib -->
	<!-- <jsp-config> <taglib> <taglib-uri>/taglib1</taglib-uri> <taglib-location>/WEB-INF/tlds/taglib1.tld</taglib-location> 
		</taglib> <jsp-property-group> 可用于所有该目录 <url-pattern>/WEB-INF/jsp/*</url-pattern> 
		设置jsp 字符 <page-encoding>UTF-8</page-encoding> </jsp-property-group> </jsp-config> -->
	<!-- 配置监听器 -->
	<!-- <listener> -->
	<!-- <listener-class>c001.Listener1</listener-class> -->
	<!-- </listener> -->
	<!-- ipFilter -->
	<filter>
		<filter-name>ipFilter</filter-name>
		<filter-class>c001.IpFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ipFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--配置公司名称监听器 -->
	<context-param>
		<param-name>companyName</param-name>
		<param-value>com.yosemite</param-value>
	</context-param>
	<!-- <listener> -->
	<!-- <listener-class>c001.CompanyContextListener</listener-class> -->
	<!-- </listener> -->
	<!-- sessionListener -->
	<!-- <listener> -->
	<!-- <listener-class>c001.SessionCounter</listener-class> -->
	<!-- </listener> -->
	<!-- requestListener -->
	<!-- <listener> -->
	<!-- <listener-class>c001.MyRequestListener</listener-class> -->
	<!-- </listener> -->
</web-app>